<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    LINEメッセージを送信
  </h1>
</header>

<section class="main-content__body">

  <%= form_with(url: admin_line_send_search_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "社員番号を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>

  <%= form_with url:admin_line_send_index_path do |form| %>
    <div >
  <%= render "line_send" %>
  <%=  form.submit %>
  <% end%>
</section>
