<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>
<% if @admin %>
  <%= form_with(url: admin_line_send_index_path, class: "line_send-form form", id:"line_send_form_in_index", html: { name: "line_send_form" } ) do |form| %>
    <section class="main-content__body line_send_form">
      <%= render("line_send", page: page) %>
      <%= form.hidden_field :resource_name, value: resource_name %>
      <%= form.hidden_field :checked_line_send, value: [page.resource.id] %>
      <div class="form-actions">
        <%= form.submit '送信', class: "hidden_zone line_send__submit", id: "line_send__submit", disabled:"disabled" %>
      </div>
    </section>
  <% end%>
<% end%>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
    <% end %>
  </dl>
</section>
