  <div class="wrapper">
    <div class="container">
      <h1 class="app_title">勤怠管理アプリ<p>（管理者用）</p></h1>
      <% if @errors.present? %>
        <ul class="error_messages">
        <% @errors.each do |f| %>
          <li class="error_message"><%= f %></li>
        <% end %>
        </ul>
      <% end %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "admin_login_form"}) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail"%>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>

        <div class="actions admin_login_action">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
