<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ユーザー登録</title>

    </head>
    <body class="user_new_body">
        <div class="form-structor">
            <%= form_with class:"signup", id:"signup_form", url:user_user_check_bot_path do |f| %>
                <h2 class="form-title" id="signup">入力フォーム</h2>
                <div class="form-holder">
                    <div id="familyName_zone" class="signup_input_list">
                        <%= f.label :familyName, "名前（セイ）", {class: "signup_form_label"} %>
                        <div class="signup_input_zone" id="familyName_input_zone">
                            <%= f.text_field :family_name, id:"familyName", class:"input", placeholder:"全角カタカナ", maxlength:15%>
                            <p id="familyName_error" class="signup_error_message"></p>
                        </div>
                    </div>
                    <div id="firstName_zone" class="signup_input_list">
                        <%= f.label :firstName, "名前（メイ）", {class: "signup_form_label"} %>
                        <div class="signup_input_zone" id="firstName_input_zone">
                            <%= f.text_field :first_name, id:"firstName", class:"input", placeholder:"全角カタカナ", maxlength:15 %>
                            <p id="firstName_error" class="signup_error_message"></p>
                        </div>
                    </div>
                    <div id="emplyeeNumber_zone" class="signup_input_list">
                        <%= f.label :employeeNumber, "社員番号（5ケタの半角数字）", {class: "signup_form_label"} %>
                        <div class="signup_input_zone" id="employeeNumber_input_zone">
                            <%= f.text_field :employee_number, id:"employeeNumber", class:"input", placeholder:"社員番号（半角数字）",  maxlength:5, inputmode:"numeric"%>
                            <p id="employeeNumber_error" class="signup_error_message"></p>
                        </div>
                    </div>
                    <%= f.hidden_field :user_token, id:"userIdToken"%>
                </div>
                <%= f.submit id:"sendMessageButton", class:"submit-btn", value:"完了" %>
            <% end %>
        </div>
        <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    </body>
</html>